.header {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1001;
  background-color: #fff;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width:750px) {

  .header__container {
    padding: 28px 20px;
    position: relative;
    z-index: 1;
  }

}
