.toggler {
  border: none;
  background-color: transparent;
  display: none;
  cursor: pointer;
}

.toggler__img {
  display: block;
}

@media only screen and (max-width:750px) {
  .toggler {
    display: block;
    outline: none;
  }
}